* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #fff;
}

body {

    background: rgb(22, 0, 56);
    background: -moz-linear-gradient(169deg, rgba(22, 0, 56, 1) 0%, rgba(19, 1, 48, 1) 60%, rgba(225, 25, 160, 1) 100%);
    background: -webkit-linear-gradient(169deg, rgba(22, 0, 56, 1) 0%, rgba(19, 1, 48, 1) 60%, rgba(225, 25, 160, 1) 100%);
    background: linear-gradient(169deg, rgba(22, 0, 56, 1) 20%, rgba(19, 1, 48, 1) 60%, rgba(225, 25, 160, 1) 144%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#160038", endColorstr="#e119a0", GradientType=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar{
   
    position: absolute;
    top: 20px;
    left: -27px;

}

.navbar ul {
    list-style: none;
    margin-left: 50px;
    
}

.navbar ul li {
    display: inline;
    margin-left: 32px;
}

.navbar ul li a {
    text-decoration: none;
    background-color: #fff;
    color: rgb(30, 5, 53);
    border-radius: 4px;
    padding: 7px;
}

.navbar ul li a:visited {
    color: rgb(30, 5, 53);
}
.container {
    position: relative;
    height: 800px;
    min-height: 100%;
    width: 80%;
    left: 10%;
    top: 5vh;
    background-image: url("/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid red;
}


.container h1 {
    position: absolute;
    top: 57px;
    left: 4%;
    text-align: left;
    height: 1.5rem;

}

.container .content {
    display: flex;
    flex-direction: column;
    margin-top: 260px;
    padding-bottom: 1.5rem;

}



.container .content p {
    -webkit-margin-before: 0.4em;
    -webkit-margin-after: 0.4em;
    text-align: center;
    font-size: 20px;
}



/* Página Posts */
.container-posts {
    position: relative;
    min-height: 100%;
    width: 80%;
    left: 10%;
    top: 5vh;
    background-image: url("/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid red;
}

.container-posts h1 {
    position: absolute;
    top: 57px;
    left: 4%;
    text-align: left;
    height: 1.5rem;

}

.container-posts .content {
    display: flex;
    flex-direction: column;
    margin-top: 260px;
    padding-bottom: 1.5rem;

}



.container-posts .content p {
    -webkit-margin-before: 0.4em;
    -webkit-margin-after: 0.4em;
    text-align: center;
    font-size: 20px;
}



.footer {
    position: absolute;
    bottom: -7px;
    width: 100%;
    text-align: center;
    height: 1.5rem;
}





@media only screen and (max-width: 170px) {
    .container h1 {
        display: none;
    }
}




/* Definindo os estilos da página Posts */
.posts .post {
    padding: 20px;
}

.posts .post::after {
    content: "-------------------------------------------------------------";
}

.posts .post h3 {
    width: fit-content;
    background-color: rgb(153, 145, 145);
}

.container-posts .content-form {
    display: flex;
    border: 1px solid rgb(214, 139, 236);
}

.container-posts .content-form form {
    display: flex;
    padding: 20px;
    flex-direction: column;
    
    
}

.container-posts .content-form input {
    margin-bottom: 10px;
}


.container-posts .content-form label {
 display: flex;
}

.container-posts .content-form textarea {
    max-width: 300px;
    width: 300px;
    height: 110px;
    max-height: 110px;
}

.container-posts .content-form .btn-coments {
    border-radius: 1px;
   }